#top-bar {
    #flash-infos {
        div {
            max-width: 100%;
            width: 1000px;
        }

        span {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .input-group {
        .input-group-text {
            background-color: transparent !important;
        }

        input {
            border-left: none;
        }
    }
}

header {
    #banner {
        img:first-child {
            width: 25%;
        }

        img:nth-child(2) {
            width: 65%;
        }

        img:last-child {
            width: 70%;
        }
    }
}

#header-img {
    img {
        width: 100%;
    }
}

footer {
    background-color: #062b46;
    color: white;  
}

.mapdiv {
    /* margin-top: 30px;
    margin-left: 20px; */

    svg {
        border: 1px solid;

        path {
            fill: #9d2322;
            stroke: #062b46;
            stroke-width: 1px;
            transition: fill 0.3s;
        }
    }

    :hover {
        fill: #062b46;
    }
}
