#top-bar {
    #flash-infos {
        & > span {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            background-color: #9d2322;
        }
    }

    .input-group {
        .input-group-text {
            background-color: transparent !important;
        }

        input {
            border-left: none;
        }
    }
}

header {
    #banner {
        img:nth-child(2) {
            width: 65%;
        }
    }

    nav {
        button {
            border-color: #062b46 !important;

            li {
                color: #062b46;
            }
        }

        a {
            font-weight: bold;
            color: #062b46;

            &:hover {
                background-color: #062b46;
                color: white;
            }
        }
        
        .active {
            background-color: #062b46;
            
            a {
                color: white;
            }
        }
    }
}

#header-img {
    img {
        width: 100%;
    }
}

footer {
    background-color: #062b46;
    color: white;  
}

.mapdiv {
    svg {
        border: 1px solid;

        path {
            fill: #9d2322;
            stroke: #062b46;
            stroke-width: 1px;
            transition: fill 0.3s;
        }
    }

    :hover {
        fill: #062b46;
    }
}

.btn-link {
    background-color: #062b46;
    color: white;

    &:hover {
        text-decoration: none;
        color: white;
    }
}

.fa-plus {
    color: #9d2322;
}
